<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4 pt-10">Blog App</h1>
    <hr class="my-4">
  </div>
</div>
</body>
</html>