/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

.nav-link {
  color: white !important;
}

.navbar-brand {
  float: left;
  font-size: 1.7em;
  color: #fff;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.jumbotron {
  background-image: asset-url('blogImage.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

.display-4 {
  padding-top: 10rem !important;
}

.btn-secondary {
  width: 150px;
  padding: 0.5rem;
}
